html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #dbd6cf;
}

h1 {
  color: #fff;
  font-family: Bevan, serif;
  display: block;
  text-align: center;
  margin: 0;
}

ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
}

li {
  display: inline-block;
  margin-right: .3em;
  margin-bottom: .3em;
  padding: .6em .75em;
  background-color: #713837;
  border-radius: 4px;
}

a {
  color: #fff;
  text-decoration: none;
}

li a:hover {
  background-color: #f33;
}

body {
  margin: 0;
  border-top: 3px solid #595652;
  border-bottom: 3px solid #595652;
  padding: .5em 0;
  background-color: #79756f;
}

*, *::before, *::after {
  box-sizing: inherit;
}
